book {
  @include dFlex();
  flex-direction: column;
  position: relative;
  width: $image-size;
  height: calc(#{$image-size} - 55px);
  background: url('./assets/new_img/book_red.png') no-repeat;
  background-size: contain;
  background-position: center;
}
mat {
  @include dFlex();
  position: relative;
  width: $image-size;
  height: 52px;
  background: url('./assets/new_img/mat.png') no-repeat;
  background-size: contain;
  background-position: center;
}
flower {
  @include dFlex();
  position: relative;
  width: calc(120px - 22px);
  height: calc(120px - 20px);
  background: url('./assets/new_img/flower_2.png') no-repeat;
  background-size: contain;
  background-position: center;
}
tel {
  @include dFlex();
  position: relative;
  width: calc(120px - 25px);
  height: calc(120px - 55px);
  background: url('./assets/new_img/tel_yellow.png') no-repeat;
  background-size: contain;
  background-position: bottom;
  margin: 0 auto;
}
clock {
  @include dFlex();
  position: relative;
  width: calc(120px - 55px);
  height: calc(120px - 34px);
  background: url('./assets/new_img/clock_red.png') no-repeat;
  background-size: contain;
  background-position: bottom;
}

lamp {
  @include dFlex();
  position: relative;
  width: calc(120px - 40px);
  height: calc(120px - 20px);
  background: url('./assets/new_img/lamp_green.png') no-repeat;
  background-size: contain;
  background-position: bottom;
}

shadow {
  position: relative;
  @include dFlex();
  width: $image-size;
}

book.small,
.shadowFrame.small,
shadow.small {
  width: calc(#{$image-size} - 50px);
  height: calc(#{$image-size} - 70px);
}
.shadowFrame.small {
  bottom: 5px;
}
flower.small {
  margin: 0 auto;
  width: calc(#{$image-size} - 60px);
  height: calc(#{$image-size} - 60px);
}
lamp.small {
  margin: 0 auto;
  width: calc(#{$image-size} - 60px);
  height: calc(#{$image-size} - 45px);
}
clock.small {
  position: relative;
  margin: 0 auto;
  width: calc(120px - 75px);
  height: calc(120px - 60px);
}
tel.small {
  margin: 0 auto;
  width: calc(120px - 55px);
  height: calc(120px - 75px);
}

book,
mat {
  flower.small,
  clock.small,
  tel.small {
    bottom: 25px;
  }
  lamp.small {
    bottom: 35px;
  }
  book:nth-child(1) {
    position: absolute;
    bottom: 25px;
  }
  book:nth-child(2) {
    position: absolute;
    bottom: 30px;
  }
  book:nth-child(3) {
    position: absolute;
    bottom: 50px;
  }
  book.small:nth-child(1) {
    position: absolute;
    bottom: 25px;
  }
  book.small:nth-child(2) {
    position: absolute;
    bottom: 37px;
  }
  book.small:nth-child(3) {
    position: absolute;
    bottom: 50px;
  }
  flower:nth-child(1) {
    position: absolute;
    bottom: 25px;
  }
  flower:nth-child(2) {
    position: absolute;
    bottom: 40px;
  }
  flower:nth-child(3) {
    position: absolute;
    bottom: 60px;
  }
  flower.small:nth-child(1) {
    position: absolute;
    bottom: 25px;
  }
  flower.small:nth-child(2) {
    position: absolute;
    bottom: 40px;
  }
  flower.small:nth-child(3) {
    position: absolute;
    bottom: 60px;
  }
  tel:nth-child(1) {
    position: absolute;
    bottom: 45px;
  }
  tel:nth-child(2) {
    position: absolute;
    bottom: 80px;
  }
  tel:nth-child(3) {
    position: absolute;
    bottom: 60px;
  }
  lamp:nth-child(1) {
    position: absolute;
    bottom: 35px;
  }
  lamp:nth-child(2) {
    position: absolute;
    bottom: 80px;
  }
  lamp:nth-child(3) {
    position: absolute;
    bottom: 60px;
  }
  clock:nth-child(1) {
    position: absolute;
    bottom: 30px;
  }
  clock:nth-child(2) {
    position: absolute;
    bottom: 80px;
  }
  clock:nth-child(3) {
    position: absolute;
    bottom: 60px;
  }
}

.green {
  display: flex;
  background: url('./assets/new_img/tel_green.png') no-repeat;
  background-size: contain;
  background-position: center bottom;
}

#HarryPotter {
  display: flex;
  position: relative;
  width: calc(#{$image-size} - 8px);
  height: calc(#{$image-size} - 55px);
  background: url('./assets/new_img/book_broun.png') no-repeat;
  background-size: contain;
  background-position: center bottom;
}

.moved {
  position: absolute;
  animation: MoveUpDown 1.5s linear infinite;
}
@keyframes MoveUpDown {
  0%,
  100% {
    bottom: 50px;
  }
  50% {
    bottom: 75px;
  }
}
