.shadowFrame {
  position: relative;
  right: 3px;
  bottom: 18px;
  display: flex;
  justify-content: center;
  width: $image-size;
}
.shadow {
  animation: shrink 1s linear infinite;
  transform-origin: center center;
  ellipse {
    transform-origin: center center;
  }
}

@keyframes shrink {
  0%,
  100% {
    width: 60%;
  }
  50% {
    width: 90%;
  }
}
