.shadowFrame {
  position: relative;
  // right: 10px;
  bottom: 30px;
  display: flex;
  justify-content: center;
  width: $image-size;
}
.shadow {
  position: relative;
  animation: shrink 1.5s linear infinite;
  transform-origin: center center;
  ellipse {
    transform-origin: center center;
  }
}

@keyframes shrink {
  0%,
  100% {
    width: 60%;
    bottom: 0;
  }
  50% {
    width: 90%;
    bottom: calc(#{$image-size} / 12);
  }
}
