// colors
$game-bg-color: beige;
$shelf-color: rgb(34, 92, 60);
$shelf-edge-color: rgb(14, 68, 41);

// fonts
@font-face {
  font-family: 'NerkoOne';
  src: url('./assets/fonts/NerkoOne-Regular.ttf');
}
$big-fs: 37px;
$middle-max_fs: 30px;
$middle-min_fs: 25px;
$small-fs: 20px;

// sizes
$image-size: 140px;
$shelf-size: 600px;
