.active-modal {
  position: absolute;
  // @include dFlex();
  bottom: 0;
  left: 0;
  width: 50%;
  height: 50%;
  .active-wrapper {
    // background: rgba(0, 0, 0, 0.5);
    border: none;
    // border-radius: 10px;
    // box-shadow: 0 0 15px 19px rgba(0, 0, 0, 0.5);
  }
  &__wrapper {
    position: relative;
    top: 150px;
    left: 150px;
    height: 100px;
    width: 400px;
    @include dFlex(center, flex-end);
    book {
      display: flex;
      width: calc(#{$image-size} - 14px);
      height: 54px;
      background: url('./assets/new_img/book_broun.png') no-repeat;
      background-size: contain;
      background-position: bottom;
    }
    flower {
      display: flex;
      width: $image-size;
      height: 100%;
      background: url('./assets/new_img/flower_2.png') no-repeat;
      background-size: contain;
      background-position: center;
    }
    tel {
      display: flex;
      width: $image-size;
      height: 100%;
      background: url('./assets/new_img/tel_yellow.png') no-repeat;
      background-size: contain;
      background-position: bottom;
      margin: 0 auto;
    }
    mat {
      display: flex;
      position: relative;
      bottom: 0;
      width: $image-size;
      height: 52px;
      background: url('./assets/new_img/mat.png') no-repeat;
      background-size: contain;
      background-position: bottom;
    }
    clock {
      display: flex;
      width: $image-size;
      height: 100%;
      background: url('./assets/new_img/clock_red.png') no-repeat;
      background-size: contain;
      background-position: bottom;
    }

    book shadow,
    flower {
      position: relative;
      margin: 0 auto;
      bottom: 15px;
    }

    mat book {
      position: relative;
      margin: 0 auto;
      bottom: 15px;
    }
    mat > book.small {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      & > :last-child {
        bottom: 18px;
      }
    }

    book > book.small {
      bottom: 25px;
    }

    book.small {
      height: 38px;
      & > book.small {
        bottom: 8px;
      }
      & > shadow {
        position: relative;
        bottom: -3px;
      }
    }

    // .small book {
    //   position: absolute;
    //   bottom: 0;
    // }

    book book,
    book mat {
      position: relative;
      bottom: 10px;
    }
    .moved {
      animation: MoveUpDown 1.5s linear infinite;
      position: relative;
    }

    .green {
      display: flex;
      width: $image-size;
      height: 100%;
      background: url('./assets/new_img/tel_green.png') no-repeat;
      background-size: contain;
      background-position: center bottom;
    }

    .small .moved {
      // background-color: #fff;
    }

    .small {
      width: calc(#{$image-size} / 1.7);
      margin: 0 auto;
      margin-bottom: 8px;
    }
    .active {
      // animation: MoveLeftRight 0.5s linear infinite;
      // position: relative;
      // background-color: #fff;
    }
    @keyframes MoveUpDown {
      0%,
      100% {
        bottom: 35px;
      }
      50% {
        bottom: 60px;
      }
    }

    @keyframes MoveLeftRight {
      0%,
      100% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.4);
        // left: 3px;
      }
    }
  }
}
