.game {
  float: left;
  height: 100vh;
  width: 50%;
  // @include dFlex();
  background-color: $game-bg-color;
  .room {
    $line-ident: 321px;
    @include dFlex(space-around);
    flex-direction: column;
    width: 100%;
    height: 40%;
    .task-name {
      font-size: $middle-max_fs;
    }
    .shelf {
      position: relative;
      &__wrapper {
        &_surface {
          width: 100%;
          height: 90px;
          background-color: $shelf-color;
          transform-origin: bottom;
          transform: perspective(100px) rotateX(15deg);
        }
        &_edge {
          width: 100%;
          height: 10px;
          background-color: $shelf-edge-color;
          transform-origin: top;
          transform: perspective(100px) rotateX(-10deg);
          box-shadow: -5px 8px 16px rgba(0, 0, 0, 0.5);
        }
      }
      &__items {
        position: relative;
        @include dFlex();
        column-gap: 10px;
        top: 85px;
        z-index: 1;
        padding: 0 calc(#{$image-size} / 4);
      }
    }
  }
}
