.game {
  float: left;
  height: 100vh;
  width: 50%;
  // @include dFlex();
  background-color: $game-bg-color;
  .room {
    $line-ident: 321px;
    @include dFlex(space-around);
    flex-direction: column;
    width: 100%;
    height: 40%;
    .task-name {
      font-size: $middle-max_fs;
    }
    .shelf {
      // width: $shelf-size;
      &__wrapper {
        &_surface {
          width: 100%;
          height: 90px;
          background-color: $shelf-color;
          transform-origin: bottom;
          transform: perspective(100px) rotateX(15deg);
        }
        &_edge {
          width: 100%;
          height: 10px;
          background-color: $shelf-edge-color;
          transform-origin: top;
          transform: perspective(100px) rotateX(-10deg);
          box-shadow: -5px 8px 16px rgba(0, 0, 0, 0.5);
        }
      }
      &__items {
        display: flex;
        /* justify-content: stretch; */
        align-items: flex-end;
        column-gap: 10px;
        position: relative;
        top: 75px;
        height: 100px;
        z-index: 2;
        padding: 0 calc(120px / 4.8);
        book > shadow,
        mat > shadow {
          position: relative;
          bottom: 60px;
        }
        shadow {
          // position: relative;
          width: $image-size;
          height: 100px;
        }
        book {
          display: flex;
          width: calc(#{$image-size} - 14px);
          height: 54px;
          background: url('./assets/new_img/book_broun.png') no-repeat;
          background-size: contain;
          background-position: bottom;
        }
        flower {
          display: flex;
          width: $image-size;
          height: 100%;
          background: url('./assets/new_img/flower_2.png') no-repeat;
          background-size: contain;
          background-position: center;
        }
        tel {
          display: flex;
          width: $image-size;
          height: 100%;
          background: url('./assets/new_img/tel_yellow.png') no-repeat;
          background-size: contain;
          background-position: bottom;
          margin: 0 auto;
        }
        mat {
          // display: flex;
          position: relative;
          bottom: 0;
          width: $image-size;
          height: 52px;
          background: url('./assets/new_img/mat.png') no-repeat;
          background-size: contain;
          background-position: bottom;
        }
        clock {
          display: flex;
          width: $image-size;
          height: 100%;
          background: url('./assets/new_img/clock_red.png') no-repeat;
          background-size: contain;
          background-position: bottom;
        }

        // book shadow,
        // flower {
        //   position: relative;
        //   margin: 0 auto;
        //   bottom: 15px;
        // }

        mat book {
          position: relative;
          margin: 0 auto;
          bottom: 14px;
        }

        mat > book.small {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          & > :last-child {
            bottom: 18px;
          }
        }

        book.small {
          height: 38px;
          & > book.small {
            bottom: 8px;
          }
          & > shadow {
            position: relative;
            bottom: -3px;
          }
        }

        book > book.small {
          bottom: 25px;
        }

        .small book {
          position: absolute;
          bottom: 0;
        }

        book book,
        book mat {
          position: relative;
          bottom: 10px;
        }
        .moved {
          animation: MoveUpDown 1.5s linear infinite;
          position: relative;
        }

        .green {
          display: flex;
          width: $image-size;
          height: 100%;
          background: url('./assets/new_img/tel_green.png') no-repeat;
          background-size: contain;
          background-position: center bottom;
        }

        .small .moved {
          // background-color: #fff;
        }

        .small {
          width: calc(#{$image-size} / 1.7);
          margin: 0 auto;
          margin-bottom: 8px;
        }
        .active {
          // animation: MoveLeftRight 0.5s linear infinite;
          // position: relative;
          // background-color: #fff;
        }
        @keyframes MoveUpDown {
          0%,
          100% {
            bottom: 35px;
          }
          50% {
            bottom: 60px;
          }
        }

        @keyframes MoveLeftRight {
          0%,
          100% {
            transform: scale(1);
          }
          50% {
            transform: scale(1.4);
            // left: 3px;
          }
        }
      }
    }
  }
}
