body {
  font-family: 'NerkoOne';
}

.page {
  float: right;
  position: relative;
  top: 50px;
  width: 50%;
  .level {
    @include dFlex(space-around);
    &-change {
      width: 60px;
      height: 60px;
      position: relative;
      right: 0;
      transition: all 0.3s ease;
      &:hover {
        cursor: pointer;
      }
    }
    &-prev {
      background: url('./assets/images/left-arrow.png') no-repeat;
      background-size: contain;
      &:hover {
        background: url('./assets/images/left-arrow-hover.png') no-repeat;
        background-size: contain;
        right: 8px;
      }
    }
    &-next {
      background: url('./assets/images/right-arrow.png') no-repeat;
      background-size: contain;
      &:hover {
        background: url('./assets/images/right-arrow-hover.png') no-repeat;
        background-size: contain;
        right: -8px;
      }
    }
    &-name {
      letter-spacing: 6px;
      font-size: $middle-max_fs;
    }
  }

  .all-levels {
    width: 98%;
    height: 40px;
    @include dFlex(space-around);
    margin: 0 auto;

    &__circle {
      width: 25px;
      height: 25px;
      cursor: pointer;
      border-radius: 50%;
      @include dFlex();
      color: #ffffff;
      transition: transform 0.2s ease;
      &:hover {
        transform: scale(1.15);
        box-shadow: 0 0 5px 1px gray;
      }
    }
    .level-off {
      background: url('./assets/images/level-circle-blue.png') no-repeat;
      background-size: contain;
    }
    .level-on {
      background: url('./assets/images/level-circle-on.png') no-repeat;
      background-size: contain;
    }
    .active-level {
      color: black;
      background: url('./assets/images/level-circle-off.png') no-repeat;
      background-size: contain;
    }
  }
}
