.task {
  width: 50%;
  position: absolute;
  right: 0;
  top: 160px;
  &-wrapper {
    margin: 0 auto;
    margin-top: 5px;
    width: 98%;
    @include dFlex(space-between, flex-start);
    font-family: 'IndieFlower-Regular', cursive;
    strong {
      background-color: burlywood;
      padding: 0 4px;
    }
    tag {
      background-color: burlywood;
      font-weight: 800;
      &::before {
        content: '<';
      }
      &::after {
        content: '>';
      }
    }
    &__info {
      width: 53%;
      & > h3 {
        text-align: center;
        font-size: $middle-min_fs - 5px;
        font-weight: 600;
        color: navy;
        letter-spacing: 0.5px;
      }
      & > h4 {
        font-size: $small-fs;
        font-weight: 600;
      }
      & > p {
        margin-top: 7px;
        line-height: 20px;
      }
    }
    &__examples {
      width: 43%;
      & > h3 {
        text-align: center;
        font-size: $middle-min_fs - 5px;
        font-weight: 600;
        color: navy;
        letter-spacing: 0.5px;
      }
      & > p {
        margin-top: 7px;
        line-height: 20px;
      }
    }
    &__delimiter {
      position: absolute;
      width: 1px;
      border-left: 2px solid black;
      height: 85%;
      left: 54%;
    }
  }
}
