.viewer {
  width: 50%;
  height: 50vh;
  position: absolute;
  left: 0;
  top: 360px;
  font-family: 'FiraCode-Medium', monospace;
  @include dFlex();
  &-wrapper {
    width: 90%;
    min-width: 420px;
    height: 409px;
    @include dFlex(space-around);
    flex-wrap: wrap;
    border: solid 1px rgba(0, 0, 0, 0.35);
  }
  &__header {
    flex: 1 1 100%;
    width: 100%;
    height: 40px;
    background-color: #f7b403;
    margin: 1px;
    @include dFlex(space-between);
    font-weight: 600;
    padding: 0 5px 0 5px;
  }
  &__line-numbers {
    flex: 1 1 30px;
    height: calc(100% - 50px);
    padding: 7px 0 0 0;
    background-color: #343434;
    border-right: 1px solid #c6c6c6;
    margin-left: 1px;
    margin-bottom: 1px;
    @include setFont($FiraCode-Regular, 13px, #c6c6c6, 1.39em);
    p {
      text-align: right;
      padding-right: 9px;
    }
  }
  &__window {
    @include dFlex(space-around, flex-start);
    flex: 1 1 calc(92% - 7px);
    height: calc(100% - 50px);
    background-color: #343434;
    padding: 7px 0 0 7px;
    margin-right: 1px;
    margin-bottom: 1px;
    @include setFont($FiraCode-Regular, 13px, #c6c6c6, 1.39em);
    &-wrapper {
      width: 55%;
      // background-color: #f7b403;
    }
    &-active-items {
      display: flex;
      align-items: flex-start;
      column-gap: 10px;
      position: relative;
      width: 40%;
      height: 100%;
      // background-color: #f7b403;
      book > shadow,
      mat > shadow {
        position: relative;
        bottom: 60px;
      }
      shadow {
        // position: relative;
        width: $image-size;
        height: 100px;
      }
      book {
        display: flex;
        width: calc(#{$image-size} - 14px);
        height: 54px;
        background: url('./assets/new_img/book_broun.png') no-repeat;
        background-size: contain;
        background-position: bottom;
      }
      flower {
        display: flex;
        width: $image-size;
        height: 100%;
        background: url('./assets/new_img/flower_2.png') no-repeat;
        background-size: contain;
        background-position: center;
      }
      tel {
        display: flex;
        width: $image-size;
        height: 100%;
        background: url('./assets/new_img/tel_yellow.png') no-repeat;
        background-size: contain;
        background-position: bottom;
        margin: 0 auto;
      }
      mat {
        display: flex;
        position: relative;
        bottom: 0;
        width: $image-size;
        height: 52px;
        background: url('./assets/new_img/mat.png') no-repeat;
        background-size: contain;
        background-position: bottom;
      }
      clock {
        display: flex;
        width: $image-size;
        height: 100%;
        background: url('./assets/new_img/clock_red.png') no-repeat;
        background-size: contain;
        background-position: bottom;
      }
      mat book {
        position: relative;
        margin: 0 auto;
        bottom: 14px;
      }

      mat > book.small {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        & > :last-child {
          bottom: 18px;
        }
      }

      book.small {
        height: 38px;
        & > book.small {
          bottom: 8px;
        }
        & > shadow {
          position: relative;
          bottom: -3px;
        }
      }

      book > book.small {
        bottom: 25px;
      }

      .small book {
        position: absolute;
        bottom: 0;
      }

      book book,
      book mat {
        position: relative;
        bottom: 10px;
      }
      .moved {
        animation: MoveUpDown 1.5s linear infinite;
        position: relative;
      }

      .green {
        display: flex;
        width: $image-size;
        height: 100%;
        background: url('./assets/new_img/tel_green.png') no-repeat;
        background-size: contain;
        background-position: center bottom;
      }

      .small .moved {
        // background-color: #fff;
      }

      .small {
        width: calc(#{$image-size} / 1.7);
        margin: 0 auto;
        margin-bottom: 8px;
      }
      .active {
        // animation: MoveLeftRight 0.5s linear infinite;
        // position: relative;
        // background-color: #fff;
      }
      @keyframes MoveUpDown {
        0%,
        100% {
          bottom: 35px;
        }
        50% {
          bottom: 60px;
        }
      }
    }
    &_code {
      div {
        padding-left: 20px;
      }
      .active-code {
        animation: MoveLeft 0.5s linear;
        color: #f7b403;
        position: relative;
      }
      @keyframes MoveLeft {
        0%,
        100% {
          left: 0;
        }
        50% {
          left: 10px;
        }
      }
    }
  }
}
